@tailwind base;
@tailwind components;
@tailwind utilities;

.flex >div{
    transition: width 200ms;
}
html {
  height: 100%;
}

.login-button {
  
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  
}
.login-button:hover{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.4;
  }
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #1D203E;
  color: #fff;
}
.login-container {
  height: 100vh; /* make the container full height */
  display: flex;
  align-items: center;
}
/* CHAT BOX */
.chat-box {
  background: #1d203e;
  box-shadow: inset 1px 0px 0px rgba(255, 255, 255, 0.1);
}

/* ONLINE TAG */
.online-tag {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 9999px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, 130%);
}

.online-tag.green {
  background: radial-gradient(100% 100% at 0% 0%, #0bef06 22.19%, #01b052 100%);
}

.online-tag.red {
  background: radial-gradient(100% 100% at 0% 0%, #ef0606 22.19%, #b00101 100%);
}

/* SIDEBAR */
.sidebar {
  width: 76px;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background: #1d203e4d;
}

.sidebar.active {
  width: 320px;
  min-width: 250px;
}

.sidebar .sidebar-header img:first-child {
  margin-right: 0.75rem;
}

.sidebar .sidebar-header img:last-child {
  display: none;
  padding-top: 5px;
}

.sidebar.active .sidebar-header img:last-child {
  display: block;
}

.sidebar.active a .sidebar-link-icon {
  margin-right: 2.5rem;
}

.sidebar a .sidebar-link-text {
  display: none;
}

.sidebar.active a .sidebar-link-text {
  display: block;
}

.sidebar .sidebar-user-profile {
  display: none;
}

.sidebar.active .sidebar-user-profile {
  display: flex;
}

/* MAIN CONTENT */
.main-content {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(0, 0, 0, 0.2); */
    width: auto;
    background: #1d203e;
}

/* TOP-PLAYERS */
.top-players {
  background: linear-gradient(
    180deg,
    rgba(80, 72, 128, 0.5) 0%,
    rgba(80, 72, 128, 0.04) 100%
  );
  backdrop-filter: blur(2px);
}

.top-players .shadow {
  
  background: #12151B;

  /* stroke blue */

  border: 1px solid #004CCC;

}

.top-players .player-boxes {
  overflow-x: auto;
  overflow-y: hidden;
}

.top-players .player-boxes::-webkit-scrollbar {
  width: 0px;
}

/* LIVE NOW - HOW TO PLAY */
.live_now,
.how_to_play,
.leaderboard,
.settings {
  background: #12151B;
  /* stroke blue */

    border: 1px solid #004CCC;
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
}

/* LEADERBOARD TABLE */
.leaderboard_table {
  width: 100%;
  text-align: center;
}

.leaderboard_table th {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  padding-bottom: 26px;
  padding-top: 26px;

}

.leaderboard_table tr{
  padding: 1rem 0;
  font-size: 20px;
  line-height: 35px;
  gap : 10px;
}

.leaderboard_table td {
  padding: 1rem 0;
  font-size: 20px;
  padding-right: 1em;
  line-height: 35px;
}

/* PROFILE */
.profile_avatar_bg {
  background: linear-gradient(134deg, #C322FF, #00BAE1);
}

/* LOADING */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}


/* CSS */
.button-72 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-72:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}

.test {
  width: 22%;
}

.gamehistory{
  flex-direction: row;
}

.icon-camera-button {
  color: rgb(211, 19, 19);
}

#camera_button path{
  fill: white;
}
#camera_button circle{
  fill:white;
}
#user_input_custo::placeholder{
  color: white;
}

#user_input_custom-label{
  color: white;
}
#submit-btn{
  color: white;
}


/* Live TABLE */
.live_table {
  width: 100%;
  text-align: center;
}


.Mode_root{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  width: 950px;
  height: 478px;
  background: #12151B;
  backdrop-filter: blur(2px);
  border: 1px solid #004CCC;
}

.Mode_img {
  width: 242px;
  cursor: pointer;
  border-radius: 20px;
}
.Mode{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 242px;
  height: 230px;

}

.fa2_root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;

}

.fa2_input{
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  /* Support-Dark/Card-alt-background */
  background: #0C0E12;
  /* Support-Dark/Stroke */

  border: 1px solid #004CCC;
  border-radius: 8px;
}

.QR_code{
  width: 250px;
  height: 250px;

  background: #D9D9D9;
  border-radius: 2px;
}




.game_mode {
  background: #12151B;
  /* stroke blue */

  border: 1px solid #004CCC;
  backdrop-filter: blur(3px);
  /* Note: backdrop-filter has minimal browser support */

  /* width: 100%; */
  text-align: center;
  width: 100%;
  font-size: 40px;
  line-height: 35px;
  font-weight: 700;
  /* padding: 26px; */
  /* margin: 5px; */

}

.game_mode_text{
  margin-bottom: 6px;
}

.title_mode{
  margin-bottom: 34px;
  margin-top: 25px;
}


.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.badge{
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  justify-content: center;
  padding: 0px;
  gap: 10px;

  width: auto;
  height: 100%;
  padding-top: 10px;
}

.badge_color{
  min-width: 20px;
  height: 20px;
  /* Static/Accent-red */
  border-radius: 999px;
  background: #FF0000;
  font-size: 12px;
}
.badge_color_rooms{
  min-width: 7px;
  height: 7px;
  /* Static/Accent-red */
  border-radius: 999px;
  background: #FF0000;
  font-size: 12px;
}

.badge_color ul{
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}

.container:hover .card {
  filter: blur(20px);
  transform: scale(0.9);
  opacity: 0.5;
}